<!DOCTYPE html>
<html lang="en" ng-app="TraiderApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="icon" href="app/img/favicon.ico" type="image/x-icon" />
    <base href="/">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
    <link rel="stylesheet" href="app/style/style.css">

    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <div id="wrapper" >
        <nav class="navbar navbar-default" ng-controller="NavbarController as vm" >

            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Trader</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ><a href="#">Статистика</a></li>
                        <li><a href="#">Фінанси</a></li>
                        <li ui-sref-active="active"><a ui-sref="menu">Меню</a></li>
                        <li ui-sref-active="active"><a ui-sref="storage">Склад</a></li>
                        <li ui-sref-active="active"><a ui-sref="order">Ресторан</a></li>
                        <li ui-sref-active="active"><a ui-sref="access">Доступ</a></li>
                        <li><a href="#">Налаштування</a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="signup" ng-if='!vm.isLog'>Реєстрація</a></li>
                        <li><a ui-sref="login" ng-if='!vm.isLog'>Вхід</a></li>
                        <li class="dropdown" ng-if='vm.isLog'>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Користувач <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Профіль</a></li>

                                <li><a href="#">Налаштування</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" ng-click="vm.logout()">Вихід</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div ui-view>


        </div>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/file-saver/FileSaver.min.js"></script>
    <script src="bower_components/json-export-excel/dest/json-export-excel.js"></script>

    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="app/app.js"></script>
    <script src='app/constant.js'></script>
    <script src="app/services/Services.js"></script>
    <script src="app/controllers/NavbarController.js"></script>
    <script src="app/controllers/LoginController.js"></script>
    <script src="app/controllers/SignUpController.js"></script>
    <script src="app/controllers/MenuController.js"></script>
    <script src="app/controllers/menu/IngridientsListController.js"></script>
    <script src="app/controllers/menu/AddIngredientController.js"></script>
    <script src="app/controllers/menu/EditIngredientCtrl.js"></script>
    <script src="app/controllers/StorageController.js"></script>
    <script src="app/controllers/storage/SupplyContorller.js"></script>
    <script src="app/controllers/storage/AddSupplyController.js"></script>
    <script src="app/controllers/storage/ProviderController.js"></script>
    <script src="app/controllers/storage/AddProviderController.js"></script>
    <script src="app/controllers/storage/RemainsController.js"></script>
    <script src="app/controllers/OrderController.js"></script>
    <script src="app/controllers/PaymentController.js"></script>
    <script src="app/controllers/HomeController.js"></script>
    <script src="app/controllers/CancelController.js"></script>
    <script src="app/controllers/ClassiferController.js"></script>
    <script src="app/controllers/CouponController.js"></script>
    <script src="app/controllers/AccessController.js">

    </script>




</body>

</html>
