<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="classif">Веддіть класифікатор</label>
            <input class="form-control" type="text" ng-model="vm.newClass">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="vm.addNewClass()" ng-disabled="!vm.newClass">Створити</button>
        </div>
        <table class="table table-bordered" id="class-list" >
            <thead>
                <tr>
                    <td>№</td>
                    <td>Назва</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cl in vm.classList">
                    <td>
                        {{$index+1}}
                    </td>
                    <td>
                        {{cl.name}}
                    </td>
                    
                    <td>
                        <button class="btn" ng-click="vm.removeClass(cl._id)"><i class="fa fa-close"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
