<form class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-3" for="name">Назва інгедієнту</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="name" ng-model="editIngredient.res.name" placeholder="Назва інгедієнту">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="sel1">Oдиниця виміру</label>
        <div class="col-sm-5">
            <select ng-model="editIngredient.res.measuringUnit" class="form-control" id="sel1"  ng-options="v for v in editIngredient.units">
                
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            
            <button type="submit" class="btn btn-default" ui-sref="menu.ingredients"    ng-click="editIngredient.update()">Зберегти</button>
        </div>
    </div>
</form>
