
<a ui-sref="menu.addIngredient" class="btn btn-default">Додати інгредієнт</a>


<table class="table table-bordered">
	<thead>
		<tr>
			<td>№</td>
			<td>Назва інгредієнту</td>
			<td>Одиниця виміру</td>
			<td>Дія</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ingredient in ingredients.ingredientsList">
			<td>
				{{$index+1}}
			</td>
			<td>
				{{ingredient.name}}
			</td>
			<td>
				{{ingredient.measuringUnit}}
			</td>
			<td>
				<a class="btn btn-default" ui-sref="menu.editIngredient({ ingredientId: ingredient._id })" ng-click="ingredients.edit(ingredient._id)">Редагувати</a>
			</td>
		</tr>
	</tbody>
</table>
<ul>
	
	
</ul>