<div class="container-fluid payment-page" id="page-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <span my-current-time="format"></span>
        </div>
        <div class="col-xs-3">
            <div class="elements-block" ng-init="showMenu='kitchen'">
                <button ng-click="showMenu='bar'">БАР</button>
                <button ng-click="showMenu='kitchen'">КУХНЯ</button>
                <ul ng-if='showMenu=="bar"'>
                    <li ng-click="vm.addToList(bar)" ng-repeat="bar in vm.bar">{{bar.name}}</li>
                </ul>
                <ul ng-if="showMenu=='kitchen'">
                    <li ng-click="vm.addToList(kitchen)" ng-repeat="kitchen in vm.products">{{kitchen.name}}</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="buy-list" id="exportthis">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ім.я</th>
                            <th>Кількість</th>
                            <th>Вартість</th>
                            <th>Дії</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.listProducts">
                            <td>{{$index}}</td>
                            <td>{{item.name}}</td>
                            <td>
                            <input  type="number" ng-model="item.countForBuy" ng-change="vm.caclTotalPrice(vm.listProducts)"><span>{{item.measuringUnit}}</span></td>
                            <td>{{(item.countForBuy * item.lastPrice).toFixed(2)}}</td>
                            <td><i ng-click="vm.removeFromList($index)" class="fa fa-close"></i> <i ng-click="vm.openClassModal($index);" class="fa fa-cog"></i></td>
                        </tr>
                    </tbody>
                </table>
                <h3>Ціна : <span>{{(vm.totalOrderPrice *vm.sale).toFixed(2)}}</span></h3>
                <h3 ng-if="vm.sale!=1">Вартість : <span>{{vm.totalOrderPrice}.toFixed(2)}}</span></h3>
                <h3 ng-if="vm.sale!=1">Різниця : <span>{{(vm.totalOrderPrice - vm.totalOrderPrice *vm.sale).toFixed(2)}}</span></h3>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="options-list">
                <button ng-disabled="vm.listProducts.length<1 || vm.totalOrderPrice<0 || !vm.totalOrderPrice" ng-click="vm.makeOrder()">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
                <button ng-disabled="!vm.isNow" ng-click="vm.finishOrder()">ВИДАТИ ЧЕК</button>
                <button ng-disabled="!vm.isNow" ng-click="vm.cancelOrder()">CКАСУВАТИ ЗАМОВЛЕННЯ</button>
                <input style="max-width: 250px;margin: 0 auto;margin-top: 50px" ng-model="vm.code" type="text" placeholder="Код знижки" class="form-control" ng-disabled="vm.sale!=1">
                <button  ng-disabled="!vm.isNow || vm.sale!=1" ng-click="vm.makeSale()">ЗНИЖКА</button>
            </div>
        </div>
    </div>
</div>
