<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form class="form-signin">
                <input type="text" ng-model="newUser.email" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" ng-model="newUser.password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="createUser()">Sign up</button>
            </form>
        </div>
    </div>
</div>
