<div class="container-fluid" id="page-wrapper">
    <div class="row">
        <div class="col-xs-2">
            <div class="sidebar">
                <ul>
                    <li ui-sref-active="active"><a ui-sref="storage.remains">Залишки</a></li>
                    <li ui-sref-active="active"><a ui-sref="storage.supply">Постачання</a></li>
                    <li ui-sref-active="active"><a ui-sref="storage.invert">Інветаризація</a></li>
                    <li ui-sref-active="active"><a ui-sref="storage.providers">Постачальники</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-10">
            <div ui-view>

            </div>
        </div>
    </div>
</div>
